<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <!-- To avoid letting the browser request to root for favicon.ico data -->
  <link rel="icon" href="data:,">
</head>
